@using Microsoft.AspNetCore.Identity
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h2>Manage your account</h2>
@if (@User.IsInRole("Admin".Trim()))
{
    <h1>You are an admin</h1>
    @User.Identity.Name
}
else
{
    <h1>You are NOT admin</h1>

}
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
