@if (User.IsInRole(Roles.Admin)|| User.IsInRole(Roles.Employee))
{
    <li><a asp-area="Brewing" asp-controller="Ingredients">Ingredients</a></li>
    <li><a asp-area="Brewing" asp-controller="Ingredients">Recipes</a></li>
    <li><a asp-area="Brewing" asp-controller="Ingredients">Brews</a></li>

}