@model RecipeListViewModel

<div>
    <table id="table_id" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
               <th>
                   Ingredients Count
               </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.Recipes)
            {
                <tr>
                    <td>
                        @recipe.Name
                    </td>
                    <td class="description">
                        @recipe.Description
                    </td>
                    <td class="recipe">
                        @recipe.Ingredients.Count()
                    </td>
                    <td>
                      <partial name="IdentifiableViewModelActions" model="@recipe">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>