@model string

@if (this.User.IsInRole("Admin"))
{
    <a asp-area="Admin" asp-page="Edit" asp-route-id="@Model" class="btn btn-primary">Edit</a>
    <a asp-area="Admin" asp-page="Delete" asp-route-id="@Model" class="btn btn-danger">Delete</a>
}