@model IngredientBindingModel
<h2>Create New Ingredient</h2>
<hr>
<form method="post">
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m)
    <input class="btn btn-info" type="submit">
    <a asp-action="Index" class="btn btn-default">Back to Index</a>
</form>