@model IngredientBindingModel
<h2>Edit Ingredient</h2>
<hr>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m)
    <input class="btn btn-info" type="submit">
    <a asp-action="Index" class="btn btn-default">Back to Index</a>
</form>