@model BrewViewModel

    <div>
    <h4>Brew</h4>
    <hr />
    <table  class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Recipe Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
                <td>@Model.RecipeName</td>
            </tr>
        </tbody>
    </table>
</div>
 
